.row
	.col-lg-2.border-right
		each item in tagsData
			div.d-lg-block.d-inline
				a.btn.btn-sm.mr-2.mb-2(href=`/tags/${item._id}`, class=(tags.includes(item._id) ? "btn-success" : "btn-primary"))
					small
						i.fas.fa-tag.mr-2
						| #{item._id} 
						span.badge.badge-light #{item.count.toLocaleString()}

	.col-md-10
		.grid
			each link, linkIndex in links
				.grid-item.col-xl-4.col-sm-6.p-0.px-md-2
					include ./link-card.pug