nav.navbar.navbar-expand-md.navbar-dark.bg-header-footer
	.container
		a.navbar-brand(href="/")
			img.rounded-lg.me-2.mt-n2.mb-n1(src="/img/icon/favicon-32x32.png" srcset="/img/icon/favicon-32x32.png 1x, /img/icon/apple-touch-icon.png 2x" alt="logo" style="width: 30px; height: 30px;")
			| #{global.appConfig.siteName}
		if (session.username)
			ul.navbar-nav
				li.nav-item.active
					a.nav-link(href="/new-link") New Link

		button.navbar-toggler(type="button", data-bs-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav")
			span.navbar-toggler-icon
		
		div.collapse.navbar-collapse#navbarNav
			ul.navbar-nav.me-auto
				
			
			form.form-inline.me-3(method="get", action="/search")
				div.input-group.input-group-sm
					input.form-control.form-control-sm(type="text", name="query", placeholder="search...", value=(query))
					button.btn.btn-primary(type="submit")
						i.bi-search
			
			if (session.username)
				ul.navbar-nav
					li.nav-item
						if (userSettings.uiTheme == "light")
							a.nav-link(href=`./changeSetting?name=uiTheme&value=dark`, data-bs-toggle="tooltip", title="Switch to dark theme")
								i.fas.bi-moon
						else
							a.nav-link(href=`./changeSetting?name=uiTheme&value=light`, data-bs-toggle="tooltip", title="Switch to light theme")
								i.fas.bi-sun
									
					li.nav-item.dropdown
						a#navbarDropdown.nav-link.dropdown-toggle(href="javascript:void(0)", role="button", data-bs-toggle="dropdown", aria-haspopup="true", aria-expanded="false") #{session.username}
						.dropdown-menu.dropdown-menu-right(aria-labelledby="navbarDropdown")
							a.dropdown-item(href="/account")
								i.bi-person-circle.me-2
								| My Account

							a.dropdown-item(href="/settings")
								i.bi-gear.me-2
								| Settings

							if (session.user && session.user.roles && session.user.roles.includes("admin"))
								a.dropdown-item(href="/admin")
									i.bi-shield-lock.me-2
									| Admin

							.dropdown-divider
							a.dropdown-item(href="/logout")
								i.bi-box-arrow-right.me-2
								| Logout