if (userMessageMarkdown)
	.alert(class=(userMessageType ? `alert-${userMessageType}` : "alert-warning"), role="alert")
		.user-message-markdown
			| !{marked.parse(userMessageMarkdown)}

if (userMessage)
	.alert(class=(userMessageType ? `alert-${userMessageType}` : "alert-warning"), role="alert")
		span #{userMessage}