extends ../layout

include ../shared/account-mixins.pug


block headBlock
	title Set Multi-Login PIN

block content
	+pageTitle("Set Multi-Login PIN")


	+card
		p After setting this PIN, you can use this account with a multi-login setup, which allows easy switching between accounts you own.
		
		



		+pinEntry(`/account/set-multilogin-pin`, "Save")
		
