extends ../layout

include ../shared/account-mixins.pug


block headBlock
	title Verify Multi-Login PIN

block content
	+pageTitle("Verify PIN")


	+contentSection(`Username: ${username}`)
		+pinEntry(`/account/verify-multilogin-pin/${username}`, "Verify")



			

block bodyEnd
	