extends layout

block headBlock
	if (item.type == "link")
		title Link: #{item.url}

	else if (item.type == "note")
		title Note: #{item._id}

	else if (item.type == "image")
		title Image: #{item._id}

	else
		title Item: #{item._id}

block content
	.center-col
		.card.shadow-sm.mb-3
			.card-body.mx-3.mx-lg-2
				+itemAdminMenu(item)
				

		+itemCard(item, {listPage:false, topTagsAndDate:true})