extends layout

block headBlock
	if (item.type == "link")
		title Link: #{item.url}

	else if (item.type == "note")
		title Note: #{item._id}

	else if (item.type == "image")
		title Image: #{item._id}

	else
		title Item: #{item._id}

block content
	.center-col
		.d-block.d-lg-none.card.shadow-sm.mb-3
			.card-body.mx-3.mx-lg-2
				+itemAdminMenu(item, {orientation:"h"})
				
		.d-lg-flex.flex-lg-row
			.d-none.d-lg-block.card.shadow-sm.me-2(style="min-width: 52px; height: 300px;")
				.card-body.my-3.my-lg-2(style="height: 100%;")
					+itemAdminMenu(item, {orientation:"v"})
			
			.flex-grow-1
				+itemCard(item, {listPage:false, topTagsAndDate:true})