extends layout

block content
	h1 Edit
	hr

	form(method="post", action=`/link/${link._id}/edit`)
		fieldset.mb-4
			input#url.form-control(name="url", placeholder="url" value=link.url)

		fieldset.mb-4
			input#desc.form-control(name="desc", placeholder="desc", value=link.desc)

		fieldset.mb-4
			input#tags.form-control(name="tags", placeholder="tags", value=link.tags.join(","))

		.d-grid
			button.btn.btn-primary(type="submit") Save