extends layout

block content
	h1.mb-3 New List
	hr

	h5.mb-4 Lists make it easy to publicly share a set of quotes. Configure the details of your list below.

	form(method="post", action="/new-list")
		fieldset.form-group
			label(for="name") A name for this list
			input#name.form-control(name="name", placeholder="name")
		
		h5.mt-4 Tags

		fieldset.form-group
			label(for="tagsAnd") Include quotes that have ALL of these tags
			input#tagsAnd.form-control(name="tagsAnd", placeholder="tags, comma-separated (to be included, a quote must include ALL of these)")
		
		fieldset.form-group
			label(for="tagsOr") Include quotes that have ANY of these tags
			input#tagsOr.form-control(name="tagsOr", placeholder="tags, comma-separated (a quote will be included if it has ANY of these)")

		h5.mt-4 Speakers

		fieldset.form-group
			label(for="speakersAnd") Include quotes that involve ALL of these speakers
			input#speakersAnd.form-control(name="speakersAnd", placeholder="speakers, comma-separated (to be included, a quote must involve ALL of these)")
		
		fieldset.form-group
			label(for="speakersOr") Include quotes that involve ANY of these speakers
			input#speakersOr.form-control(name="speakersOr", placeholder="speakers, comma-separated (a quote will be included if it involves ANY of these)")
		
		button.btn.btn-primary.btn-block(type="submit") Create List