extends layout

block content
	h1.mb-3 New Quote
	hr

	form(method="post", action="/new-quote")
		fieldset.form-group
			textarea#text.form-control(name="text", rows="10", placeholder="quote")

		button.btn.btn-primary.btn-block(type="submit") Save