extends layout

block headBlock
	title Links: New Link

block content
	h1.mb-3 New Link
	hr

	form(method="post", action="/new-link")
		fieldset.mb-4
			input#url.form-control(name="url", placeholder="url")

		fieldset.mb-4
			input#desc.form-control(name="desc", placeholder="desc")

		fieldset.mb-4
			input#tags.form-control(name="tags", placeholder="tags")

		.d-grid
			button.btn.btn-primary(type="submit") Save