extends layout

block headBlock
	title Pinned Items

block content
	+itemListPageHeader(itemCount, limit, offset, sort, paginationBaseUrl)
		h1 #{itemCount.toLocaleString()} Pinned Item#{itemCount == 1 ? "" : "s"}

	hr
	
	include ./shared/item-list.pug