extends layout

block headBlock
	title Pinned Items

block content
	+itemListPageHeader(itemCount, limit, offset, sort, paginationBaseUrl)
		+pageTitle(`${itemCount.toLocaleString()} Pinned Item${itemCount == 1 ? "" : "s"}`)

		
	
	include ./shared/item-list.pug