extends layout

block content
	h1 Edit
	hr

	form(method="post", action=`/quote/${quote._id}/edit`)
		fieldset.form-group
			textarea#text.form-control(name="content", rows="15") #{quoteTextRepresentation}

		button.btn.btn-primary.btn-block(type="submit") Save