extends layout

block headBlock
	title Search: #{query}

block content
	+itemListPageHeader(itemCount, limit, offset, sort, paginationBaseUrl)
		+pageTitle(`${itemCount.toLocaleString()} Item${itemCount != 1 ? "s" : ""} for`)
			span.badge.text-bg-primary
				i.bi-search.me-2
				| #{query}

	
	
	include ./shared/item-list.pug