extends layout

block content
	h1 #{links.length.toLocaleString()} Link
		| #{links.length != 1 ? "s" : ""}  for 
		span.badge.badge-primary
			i.fas.fa-search.mr-2
			| #{query}

	hr

	include ./shared/link-list.pug