extends layout

block headBlock
	title Links: Settings

block content
	h1 Settings
	hr

	pre
		code #{JSON.stringify(session, null, 4)}

	hr

	div.text-monospace
		ul
			li Node Version: #{global.nodeVersion}