extends layout

block content
	h1 #{quotes.length} Quote
		| #{quotes.length != 1 ? "s" : ""}
		|  from 
		span.badge.badge-primary #{speaker}

	.grid
		each quote, quoteIndex in quotes
			.grid-item.col-xl-4.col-sm-6
				include shared/quote-card.pug