extends layout

block content
	h1 #{quotes.length.toLocaleString()} Quote
		| #{quotes.length != 1 ? "s" : ""} 
		| tagged with 
		span.badge.badge-primary
			i.fas.fa-tag.mr-2
			| #{tag}
	
	.grid
		each quote, quoteIndex in quotes
			.grid-item.col-xl-4.col-sm-6.p-0.px-md-2
				include shared/quote-card.pug