extends layout

block headBlock
	title Links: Tagged #{tags.join(", ")}

block content
	h1 #{links.length.toLocaleString()} Link
		| #{links.length != 1 ? "s" : ""} 
		| tagged with 
		each tag in tags
			span.badge.badge-primary.mr-1
				i.fas.fa-tag.mr-2
				| #{tag}

	hr
	
	include ./shared/link-list.pug