extends layout

block headBlock
	title Links: Tagged #{tags.join(", ")}

block content
	+linkListPageHeader(linkCount, limit, offset, sort, paginationBaseUrl)
		h1 #{linkCount.toLocaleString()} Link
			| #{linkCount != 1 ? "s" : ""} for 
			each tag in tags
				span.badge.bg-primary.me-1
					i.bi-tag-fill.me-2
					| #{tag}

	hr
	
	include ./shared/link-list.pug