extends layout

block content
	h1 #{quotes.length.toLocaleString()} Quote
		| #{quotes.count != 1 ? "s" : ""}

	.grid
		each quote, quoteIndex in quotes
			.grid-item.col-xl-4.col-sm-6
				include shared/quote-card.pug